html, body {
  height: 100%;
}

body ul {
    padding-inline-start: 0;

}
.substrate{
    padding: 20px;
    background-color: rgba(100%,100%,100%,0.9);

}
.substrate h1 a{
    float: right;
}
.substrate td a{
    width: 30%;
    text-decoration: none;

}
.sm-list th{
    padding: 0.5rem 2.5rem;
}

.substrate td a:hover{
    text-decoration: underline;
}

.head-page{
    padding-top: 20px;
    height: 100%;
    background-image: url("../img/img_2.png");
    background-size: cover;
}

.search-field input{
    height: 47px;
}


.navigation>li{
    text-align: center;
    opacity: 0.9;
}
.navigation>li:hover{
    font-size: 20px;
    opacity: 1;

}

.search {
    width: 150px;
}

