{% extends "base.html" %}

{% block title %}<title>{{ cook.username }}</title>{% endblock %}

{% block content %}
  <div class="substrate sm-list">
    <h1>
      Username: {{ cook.username }}
      <a href="{% url 'kitchen:cook-delete' pk=cook.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url 'kitchen:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page me-3">
        Update
      </a>
    </h1>

    <p><strong>First name:</strong> {{ cook.first_name }}</p>
    <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>

    <div class="ml-3">
      <h4>Dishes:</h4>
      {% if cook.dishes.all %}
        <table class="table text-center d-inline-block">
          <tr>
            <th>Name</th>
            <th>Dish type</th>
            <th>Ingredients</th>
          </tr>
        {% for dish in cook.dishes.all %}
          <tr>
            <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %} ">{{ dish.name }}</a></td>
            <td>{{ dish.dish_type.name }}</td>
            <td>{{ dish.ingredients.count }}</td>
          </tr>

      {% empty %}
        <p>No dishes!</p>
      {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
{% endblock %}


