{% extends "base.html" %}

{% block content %}
  <div class="home-info sm-list">
    <h1>
      {{ ingredient.name }}
      <a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}" class="btn btn-secondary link-to-page me-3">
        Update
      </a>
    </h1>

      <h3>Dishes:</h3>
    {% if ingredient.dishes.all %}
    <table class="table text-center d-inline-block">
      <tr>
        <th>Name</th>
        <th>Dish type</th>
        <th>Count of cooks</th>
      </tr>
      {% for dish in ingredient.dishes.all %}
        <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %} ">{{ dish.name }}</a></td>
        <td>{{ dish.dish_type.name }}</td>
        <td>{{ dish.cooks.count }}</td>
      {% endfor %}
      </table>
    {% else %}
      <p>There are no dishes with this ingredient</p>
    {% endif %}
  </div>
{% endblock %}
